.color-nav {
    background: rgba(255, 255, 255, 0.15);
}

.intro {
    height: 100vh;
    text-align: center;
}

.about {
    height: 110vh;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(#a85502, #ef8319);
    padding-top: 20vh;
    color: white;
}

.about h1 {
    font-size: 72px;
    font-family: Helvetica, Sans-Serif;
}

.textbox {
    background-color: rgba(255, 255, 255, 0.15);
    width: 600px;
    display: inline-block;
    padding: 30px;
    border-radius: 15px 50px 30px;
}

.agent {
    height: 100vh;
    text-align: center;
    padding-top: 10vh;
}

.contact {
    height: 100vh;
    text-align: center;
    padding-top: 10vh;
}