/* general css */

h1 {
    font-family: "Roboto",sans-serif;
    color: rgb(112, 112, 112);
    font-size: 50px;
}

p {
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    p {
        font-size: 17px;
    }
}

/* navbar */

.color-nav {
    height: 50px;
    z-index: 999;
}

.responsive-nav {
    width: 100vw;
}

/* carousel intro */

.intro {
    text-align: center;
    background-color: #ebe8e6;
    height: auto;
}

/* Our Journey */

.about {
    height: auto;
    text-align: center;
    background-color: #ebe8e6;
    padding: 10vh 0px 10vh;
}

.about-box {
    width: auto;
    display: inline-block;
    margin: 0px calc(20vw);
    padding: 30px;
    border-radius: 15px 50px 30px;
    color: rgb(112, 112, 112);
    box-shadow: 5px 10px 18px #888888;
}

.textbox {
    text-align: justify;
    text-justify: inter-word;
    padding: 0px 20px;
}

/* agent */

.agent {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10vh 0px;
    background-color: rgb(255, 255, 255);
}


.card-deck {
    display: inline-block; 
    margin: 0 auto;
    padding: 40px 10px;
}

/* contact and map */

.contact {
    min-height: auto;
    text-align: center;
    padding: 20px 0px;
    background-color: #fff;
}

.map {
    width: 100%;
    text-align: center;
}

.map-popup {
    color: #da6e03;
    line-height: 1;
}

.center {
    display: inline-block; 
}

.contact-info {
    margin-top: 40px;
}

.contact-info p {
    font-size: 17px;
    line-height: 0.5;
}

/* footer */

.footer {
    padding: 1em;
    background: #ebe8e6;
    color: #ef8319;
    text-align: left;
}

/* mobile css */

@media(max-width: 700px) {
    .map {
        display: none;
    }

    .textbox {
        padding: none;
        margin: none;
    }

    .about-box {
        margin: 0px calc(5vw);
    }
}