.color-nav {
    background: rgba(255, 255, 255, 0);
}

.intro {
    height: 95vh;
    text-align: center;
}

.about {
    height: 100vh;
    text-align: center;
}

.contact {
    height: 100vh;
    text-align: center;
}

.agent {
    height: 100vh;
    text-align: center;
}