/* general css */

h1 {
    font-family: "Roboto",sans-serif;
    color: rgb(112, 112, 112);
    font-size: 50px;
}

p {
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* listings main page */

.listings-background {
    background-color: #ebe8e6;
}

.grid-container {
    text-align: center;
    padding: calc(5vh);
}

.listings-box {
    width: auto;
    display: inline-block;
    margin: calc(3vh) calc(20vw);
    padding: 30px;
    color: rgb(112, 112, 112);
    border-radius: 15px 50px 30px;
    box-shadow: 5px 10px 18px #888888;
}

.listings-box p {
    line-height: 1.25;
    font-size: 17px;
}

.listing-text-box {
    text-align: justify;
    text-justify: inter-word;
    padding: 0px 20px;
}

@media(max-width: 700px) {

    .listing-text-box {
        padding: none;
        margin: none;
    }

    .listings-box {
        margin: 0px calc(5vw);
    }

    .filters {
        display: none;
    }
}