/* general css */

h1 {
    font-family: "Roboto",sans-serif;
    color: rgb(112, 112, 112);
    font-size: 50px;
}

p {
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* listings main page */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}